#poi-plugin-cqc .fleet-viewer,
#poi-plugin-cqc .squadron-viewer {
    margin-bottom: 5px;
}

#poi-plugin-cqc .fleet-viewer > .panel-heading,
#poi-plugin-cqc .squadron-viewer > .panel-heading {
    padding: 5px;
}

#poi-plugin-cqc .fleet-viewer > .panel-body,
#poi-plugin-cqc .squadron-viewer > .panel-body {
    padding: 5px;
}

#poi-plugin-cqc .slotitem-img {
    width: 1.8em;
    height: 1.8em;
}

#poi-plugin-cqc .planeslot-overlay {
    text-shadow: 2px 1px 1px #000, 2px 1px 1px #000;
    position: absolute;
    right: 7px;
    bottom: -2px;
}

#poi-plugin-cqc .theme-darkly .panel {
    background-color: #303030;
}

#poi-plugin-cqc .theme-slate .panel {
    background-color: #2e3338;
}

#poi-plugin-cqc .theme-superhero .panel {
    background-color: #546575;
}

#poi-plugin-cqc .theme-lumendark .panel {
    background-color: #555555;
}

#poi-plugin-cqc .theme-paperdark .panel {
    background-color: #303030;
}

#poi-plugin-cqc .theme-papercyan .panel {
    background-color: #222222;
}

#poi-plugin-cqc .theme-paperblack .panel {
    background-color: #424242;
}

#poi-plugin-cqc .theme-darklykai .panel {
    background-color: #222222;
}
